---

---

<div
  role="dialog"
  aria-modal="true"
  aria-labelledby="contact-modal-title"
  aria-describedby="contact-modal-description"
  class="bg-rich-carbon/40 fixed inset-0 z-50 flex backdrop-blur-[10px]"
  x-data="{
		open: false,
		words: null,
		init() {
			const title = 'Ping CommandOSS.';
			
			this.words = title.split(' ');
			this.$watch('open', (value) => {
				if (value) {
					smoother.paused(true);
				} else {
					smoother.paused(false);
				}
			});

		},
		openContactModal(e) {
			this.open = true;
			for (const radio of this.$el.querySelectorAll('.fui-radio-input')) {
				if (radio.value.toLowerCase().trim() === e.detail.toLowerCase().trim()) {
					radio.checked = true;
				}
			}
		}
	}"
  @contact-modal:open.window="openContactModal($event)"
  x-trap.noscroll.noautofocus="open"
  x-show="open"
  x-cloak
  x-transition.opacity.duration.400ms
>
  <div
    class="bg-neural-fog text-rich-carbon modal--scrollbar relative isolate h-full w-full max-w-[700px] overflow-y-auto px-[16px] pt-[32px] md:rounded-r-[20px] md:p-[40px] md:pb-0"
    @click.outside="open = false"
    x-show="open"
    x-transition:enter="transition-[clip-path] ease-(--easing) duration-400 delay-100"
    x-transition:enter-start="[clip-path:inset(0_100%_0_0)]"
    x-transition:enter-end="[clip-path:inset(0_0_0_0)]"
    x-transition:leave="transition-[clip-path] ease-(--easing) duration-400"
    x-transition:leave-start="[clip-path:inset(0_0_0_0)]"
    x-transition:leave-end="[clip-path:inset(0_100%_0_0)]"
    dir="rtl"
  >
    <div dir="ltr">
      <button
        class="text-rich-carbon/60 hover:text-rich-carbon absolute top-[16px] right-[16px] transition-colors md:top-[24px] md:right-[24px]"
        @click="open = false"
        aria-label="Close"
      >
        <svg
          class="size-[16px]"
          width="17"
          height="18"
          viewBox="0 0 17 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2.01445e-07 14.8696C2.61347e-07 14.1844 0.555462 13.6289 1.24066 13.6289L2.30231 13.6289C2.98751 13.6289 3.54297 13.0734 3.54297 12.3882L3.54297 11.5024C3.54297 10.8172 4.09843 10.2617 4.78363 10.2617L5.22809 10.2617C5.91329 10.2617 6.46875 9.70626 6.46875 9.02106L6.46875 7.95745C6.46875 7.27226 7.02421 6.7168 7.70941 6.7168L8.18708 6.7168C8.87227 6.7168 9.42774 6.16133 9.42774 5.47614L9.42774 4.71331C9.42774 4.02812 9.9832 3.47266 10.6684 3.47266L11.484 3.47266C12.1691 3.47266 12.7246 2.91719 12.7246 2.232L12.7246 1.24066C12.7246 0.555462 13.2801 -2.61347e-07 13.9653 -2.01445e-07L15.0289 -1.08462e-07C15.7141 -4.856e-08 16.2695 0.555462 16.2695 1.24066L16.2695 2.30426C16.2695 2.98946 15.7141 3.54492 15.0289 3.54492L14.2133 3.54492C13.5281 3.54492 12.9727 4.10038 12.9727 4.78558L12.9727 5.77692C12.9727 6.46212 12.4172 7.01758 11.732 7.01758L11.2543 7.01758C10.5691 7.01758 10.0137 7.57304 10.0137 8.25824L10.0137 9.02106C10.0137 9.70626 9.45821 10.2617 8.77301 10.2617L8.32855 10.2617C7.64335 10.2617 7.08789 10.8172 7.08789 11.5024L7.08789 12.566C7.08789 13.2512 6.53243 13.8066 5.84723 13.8066L4.78558 13.8066C4.10038 13.8066 3.54492 14.3621 3.54492 15.0473L3.54492 15.9332C3.54492 16.6184 2.98946 17.1738 2.30426 17.1738L1.24066 17.1738C0.555462 17.1738 4.856e-08 16.6184 1.08462e-07 15.9332L2.01445e-07 14.8696ZM2.97656 4.78558C2.97656 4.10038 2.4211 3.54492 1.7359 3.54492L1.24066 3.54492C0.555463 3.54492 1.24004e-06 2.98946 1.29994e-06 2.30426L1.39292e-06 1.24066C1.45282e-06 0.55546 0.555463 -1.37377e-06 1.24066 -1.31387e-06L2.30426 -1.22088e-06C2.98946 -1.16098e-06 3.54492 0.555461 3.54492 1.24066L3.54492 1.89606C3.54492 2.58126 4.10038 3.13672 4.78558 3.13672L5.28083 3.13672C5.96602 3.13672 6.52149 3.69218 6.52149 4.37738L6.52149 5.44098C6.52149 6.12618 5.96602 6.68164 5.28083 6.68164L4.21722 6.68164C3.53203 6.68164 2.97656 6.12618 2.97656 5.44098L2.97656 4.78558ZM12.7246 15.4379C12.7246 14.7527 12.1691 14.1973 11.484 14.1973L10.9868 14.1973C10.3016 14.1973 9.74609 13.6418 9.74609 12.9566L9.74609 11.893C9.74609 11.2078 10.3016 10.6523 10.9868 10.6523L12.0504 10.6523C12.7356 10.6523 13.291 11.2078 13.291 11.893L13.291 12.3882C13.291 13.0734 13.8465 13.6289 14.5317 13.6289L15.0289 13.6289C15.7141 13.6289 16.2695 14.1844 16.2695 14.8696L16.2695 15.9332C16.2695 16.6184 15.7141 17.1738 15.0289 17.1738L13.9653 17.1738C13.2801 17.1738 12.7246 16.6184 12.7246 15.9332L12.7246 15.4379Z"
            fill="currentColor"></path>
        </svg>
      </button>
      <div class="flex h-full flex-col justify-between gap-[32px] md:gap-[40px]">
        <h2
          id="contact-modal-title"
          class="h2 flex flex-wrap gap-x-[0.3ch] uppercase [&>span>span]:inline-block"
        >
          <template x-for="(word, index) in words" :key="index">
            <span x-text="word"></span>
          </template>
        </h2>
        <div class="fui-i">
          <form
            id="fui-contact-gxuiyq"
            class="fui-form fui-labels-above-input"
            method="post"
            enctype="multipart/form-data"
            accept-charset="utf-8"
            data-fui-form='{"formHashId":"fui-contact-gxuiyq","formId":586,"formHandle":"contact","registeredJs":[{"src":"https:\/\/www.worldquantfoundry.com\/cpresources\/7693493b\/js\/fields\/checkbox-radio.js?v=1771445336","module":"FormieCheckboxRadio"},{"src":"https:\/\/www.worldquantfoundry.com\/cpresources\/7693493b\/js\/fields\/phone-country.js?v=1771445336","module":"FormiePhoneCountry"}],"settings":{"submitMethod":"ajax","submitActionMessage":"<p>Thank you for reaching out. Our team will be in touch soon. <\/p>","submitActionMessageTimeout":null,"submitActionMessagePosition":"top-form","submitActionFormHide":false,"submitAction":"message","submitActionTab":null,"errorMessage":"<p>There was an error. Please try again.<\/p>","errorMessagePosition":"top-form","loadingIndicator":"spinner","loadingIndicatorText":null,"validationOnSubmit":true,"validationOnFocus":false,"scrollToTop":true,"hasMultiplePages":false,"pages":[{"id":1,"label":"Page 1","settings":{"submitButtonLabel":"Contact us","backButtonLabel":"Back","showBackButton":false,"saveButtonLabel":"Save","showSaveButton":false,"saveButtonStyle":"link","buttonsPosition":"left","cssClasses":"mt-[20px]","containerAttributes":[{"label":"","value":""}],"inputAttributes":[],"enableNextButtonConditions":false,"nextButtonConditions":[],"enablePageConditions":false,"pageConditions":[],"enableJsEvents":false,"jsGtmEventOptions":[]}}],"themeConfig":{"loading":{"class":"fui-loading"},"errorMessage":{"class":"fui-error-message"},"disabled":{"class":"fui-disabled"},"tabError":{"class":"fui-tab-error"},"tabActive":{"class":"fui-tab-active"},"tabComplete":{"class":"fui-tab-complete"},"successMessage":{"class":"fui-success-message"},"alert":{"class":"fui-alert"},"alertError":{"class":"fui-alert fui-alert-error fui-alert-top-form","role":"alert","data-fui-alert":true,"data-fui-alert-error":true},"alertSuccess":{"class":"fui-alert fui-alert-success fui-alert-top-form","role":"alert","data-fui-alert":true,"data-fui-alert-success":true},"page":{"id":"fui-contact-gxuiyq-p-1","class":"fui-page","data-index":"0","data-id":"1","data-fui-page":true},"progress":{"class":"fui-progress","data-fui-progress":true},"tab":{"class":"fui-tab"},"success":{"class":"fui-success"},"error":{"class":"fui-error-message"},"fieldContainerError":{"class":"fui-error"},"fieldInputError":{"class":"fui-error"},"fieldErrors":{"class":"fui-errors","data-field-error-messages":true},"fieldError":{"class":"fui-error-message","data-field-error-message":true}},"redirectUrl":"","currentPageId":1,"outputJsTheme":true,"enableUnloadWarning":true,"enableBackSubmission":true,"ajaxTimeout":10,"outputConsoleMessages":true,"baseActionUrl":"https:\/\/www.worldquantfoundry.com\/index.php\/actions","refreshTokenUrl":"https:\/\/www.worldquantfoundry.com\/index.php\/actions\/formie\/forms\/refresh-tokens?form=FORM_PLACEHOLDER","scriptAttributes":[]}}'
            data-form-handle="contact"
            data-form-submit-method="ajax"
            data-form-submit-action="message"
            data-loading-indicator="spinner"
          >
            <input
              type="hidden"
              name="CRAFT_CSRF_TOKEN"
              value="bC37yI0hiiOHmm4vEbL5OT-5IEeJ326viWWA0Pbo22QbR9N2GEFErypaoaP0dORn1asYbkffu1BYj2Mrz7dYmrgUwbWwuOIKKGq7LH0LIeU="
              autocomplete="off"
            /><input type="hidden" name="action" value="formie/submissions/submit" /><input
              type="hidden"
              name="submitAction"
              value="submit"
            /><input type="hidden" name="handle" value="contact" /><input
              type="hidden"
              name="siteId"
              value="1"
            /><div class="fui-form-container">
              <div
                id="fui-contact-gxuiyq-p-1"
                class="fui-page"
                data-index="0"
                data-id="1"
                data-fui-page
              >
                <div class="fui-page-container">
                  <div class="fui-row fui-page-row" data-fui-field-count="1">
                    <div
                      class="fui-field fui-type-radio fui-label-above-input fui-subfield-label-above-input fui-instructions-above-input fui-field-required fui-page-field"
                      data-field-handle="imA"
                      data-field-type="radio"
                      data-field-config='[{"module":"FormieCheckboxRadio"}]'
                      data-validation="required"
                    >
                      <fieldset
                        class="fui-fieldset fui-layout-horizontal"
                        aria-describedby="fui-contact-gxuiyq-fields-imA-instructions"
                      >
                        <legend class="fui-legend" data-field-label
                          >I'm a&nbsp;<span class="fui-required" aria-hidden="true">*</span></legend
                        ><div
                          id="fui-contact-gxuiyq-fields-imA-instructions"
                          class="fui-instructions"
                        >
                          <p>[select one]</p>
                        </div><div class="fui-input-wrapper">
                          <div class="fui-layout-wrap">
                            <div class="fui-radio">
                              <input
                                type="radio"
                                id="fui-contact-gxuiyq-fields-imA-founder-0"
                                class="fui-input fui-radio-input"
                                name="fields[imA]"
                                value="Founder"
                                checked
                                required
                                data-fui-id="contact-imA-founder-0"
                              /><label
                                class="fui-radio-label"
                                for="fui-contact-gxuiyq-fields-imA-founder-0">Founder</label
                              >
                            </div><div class="fui-radio">
                              <input
                                type="radio"
                                id="fui-contact-gxuiyq-fields-imA-investor-1"
                                class="fui-input fui-radio-input"
                                name="fields[imA]"
                                value="Investor"
                                required
                                data-fui-id="contact-imA-investor-1"
                              /><label
                                class="fui-radio-label"
                                for="fui-contact-gxuiyq-fields-imA-investor-1">Investor</label
                              >
                            </div><div class="fui-radio">
                              <input
                                type="radio"
                                id="fui-contact-gxuiyq-fields-imA-partner-2"
                                class="fui-input fui-radio-input"
                                name="fields[imA]"
                                value="Partner"
                                required
                                data-fui-id="contact-imA-partner-2"
                              /><label
                                class="fui-radio-label"
                                for="fui-contact-gxuiyq-fields-imA-partner-2">Partner</label
                              >
                            </div><div class="fui-radio">
                              <input
                                type="radio"
                                id="fui-contact-gxuiyq-fields-imA-journalist-3"
                                class="fui-input fui-radio-input"
                                name="fields[imA]"
                                value="Journalist"
                                required
                                data-fui-id="contact-imA-journalist-3"
                              /><label
                                class="fui-radio-label"
                                for="fui-contact-gxuiyq-fields-imA-journalist-3">Journalist</label
                              >
                            </div><div class="fui-radio">
                              <input
                                type="radio"
                                id="fui-contact-gxuiyq-fields-imA-other-4"
                                class="fui-input fui-radio-input"
                                name="fields[imA]"
                                value="Other"
                                required
                                data-fui-id="contact-imA-other-4"
                              /><label
                                class="fui-radio-label"
                                for="fui-contact-gxuiyq-fields-imA-other-4">Other</label
                              >
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div><div class="fui-row fui-page-row" data-fui-field-count="1">
                    <div
                      class="fui-field fui-type-group fui-label-above-input fui-subfield-label-above-input fui-instructions-above-input fui-page-field"
                      data-field-handle="aboutYou"
                      data-field-type="group"
                    >
                      <fieldset class="fui-fieldset">
                        <legend class="fui-legend" data-field-label>About you</legend><div
                          class="fui-input-wrapper"
                        >
                          <div class="fui-group">
                            <div class="fui-field-rows">
                              <div class="fui-row" data-fui-field-count="2">
                                <div
                                  class="fui-field fui-type-single-line-text fui-label-above-input fui-subfield-label-above-input fui-instructions-above-input fui-field-required fui-group-first-name"
                                  data-field-handle="aboutYou.firstName"
                                  data-field-type="single-line-text"
                                  data-validation="required"
                                >
                                  <div class="fui-field-container">
                                    <label
                                      class="fui-label"
                                      for="fui-contact-gxuiyq-fields-aboutYou-firstName"
                                      data-field-label
                                      >First name&nbsp;<span class="fui-required" aria-hidden="true"
                                        >*</span
                                      ></label
                                    ><div class="fui-input-wrapper">
                                      <input
                                        type="text"
                                        id="fui-contact-gxuiyq-fields-aboutYou-firstName"
                                        class="fui-input"
                                        name="fields[aboutYou][firstName]"
                                        placeholder="First name"
                                        required
                                        data-fui-id="contact-aboutYou-firstName"
                                      />
                                    </div>
                                  </div>
                                </div><div
                                  class="fui-field fui-type-single-line-text fui-label-above-input fui-subfield-label-above-input fui-instructions-above-input fui-field-required fui-group-last-name"
                                  data-field-handle="aboutYou.lastName"
                                  data-field-type="single-line-text"
                                  data-validation="required"
                                >
                                  <div class="fui-field-container">
                                    <label
                                      class="fui-label"
                                      for="fui-contact-gxuiyq-fields-aboutYou-lastName"
                                      data-field-label
                                      >Last name&nbsp;<span class="fui-required" aria-hidden="true"
                                        >*</span
                                      ></label
                                    ><div class="fui-input-wrapper">
                                      <input
                                        type="text"
                                        id="fui-contact-gxuiyq-fields-aboutYou-lastName"
                                        class="fui-input"
                                        name="fields[aboutYou][lastName]"
                                        placeholder="Last name"
                                        required
                                        data-fui-id="contact-aboutYou-lastName"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div><div class="fui-row" data-fui-field-count="2">
                                <div
                                  class="fui-field fui-type-email fui-label-above-input fui-subfield-label-above-input fui-instructions-above-input fui-field-required fui-group-email-address"
                                  data-field-handle="aboutYou.emailAddress"
                                  data-field-type="email"
                                  data-validation="required|email"
                                >
                                  <div class="fui-field-container">
                                    <label
                                      class="fui-label"
                                      for="fui-contact-gxuiyq-fields-aboutYou-emailAddress"
                                      data-field-label
                                      >Email&nbsp;<span class="fui-required" aria-hidden="true"
                                        >*</span
                                      ></label
                                    ><div class="fui-input-wrapper">
                                      <input
                                        type="email"
                                        id="fui-contact-gxuiyq-fields-aboutYou-emailAddress"
                                        class="fui-input"
                                        name="fields[aboutYou][emailAddress]"
                                        value=""
                                        placeholder="Email"
                                        autocomplete="email"
                                        required
                                        data-fui-id="contact-aboutYou-emailAddress"
                                      />
                                    </div>
                                  </div>
                                </div><div
                                  class="fui-field fui-type-phone fui-label-above-input fui-subfield-label-above-input fui-instructions-above-input fui-field-required fui-group-phone"
                                  data-field-handle="aboutYou.phone"
                                  data-field-type="phone"
                                  data-field-config='[{"countryDefaultValue":"US","countryAllowed":[{"label":"Afghanistan","value":"AF","code":"+93"},{"label":"Albania","value":"AL","code":"+355"},{"label":"Algeria","value":"DZ","code":"+213"},{"label":"American Samoa","value":"AS","code":"+1"},{"label":"Andorra","value":"AD","code":"+376"},{"label":"Angola","value":"AO","code":"+244"},{"label":"Anguilla","value":"AI","code":"+1"},{"label":"Antigua & Barbuda","value":"AG","code":"+1"},{"label":"Argentina","value":"AR","code":"+54"},{"label":"Armenia","value":"AM","code":"+374"},{"label":"Aruba","value":"AW","code":"+297"},{"label":"Ascension Island","value":"AC","code":"+247"},{"label":"Australia","value":"AU","code":"+61"},{"label":"Austria","value":"AT","code":"+43"},{"label":"Azerbaijan","value":"AZ","code":"+994"},{"label":"Bahamas","value":"BS","code":"+1"},{"label":"Bahrain","value":"BH","code":"+973"},{"label":"Bangladesh","value":"BD","code":"+880"},{"label":"Barbados","value":"BB","code":"+1"},{"label":"Belarus","value":"BY","code":"+375"},{"label":"Belgium","value":"BE","code":"+32"},{"label":"Belize","value":"BZ","code":"+501"},{"label":"Benin","value":"BJ","code":"+229"},{"label":"Bermuda","value":"BM","code":"+1"},{"label":"Bhutan","value":"BT","code":"+975"},{"label":"Bolivia","value":"BO","code":"+591"},{"label":"Bosnia & Herzegovina","value":"BA","code":"+387"},{"label":"Botswana","value":"BW","code":"+267"},{"label":"Brazil","value":"BR","code":"+55"},{"label":"British Indian Ocean Territory","value":"IO","code":"+246"},{"label":"British Virgin Islands","value":"VG","code":"+1"},{"label":"Brunei","value":"BN","code":"+673"},{"label":"Bulgaria","value":"BG","code":"+359"},{"label":"Burkina Faso","value":"BF","code":"+226"},{"label":"Burundi","value":"BI","code":"+257"},{"label":"Cambodia","value":"KH","code":"+855"},{"label":"Cameroon","value":"CM","code":"+237"},{"label":"Canada","value":"CA","code":"+1"},{"label":"Cape Verde","value":"CV","code":"+238"},{"label":"Caribbean Netherlands","value":"BQ","code":"+599"},{"label":"Cayman Islands","value":"KY","code":"+1"},{"label":"Central African Republic","value":"CF","code":"+236"},{"label":"Chad","value":"TD","code":"+235"},{"label":"Chile","value":"CL","code":"+56"},{"label":"China","value":"CN","code":"+86"},{"label":"Christmas Island","value":"CX","code":"+61"},{"label":"Cocos (Keeling) Islands","value":"CC","code":"+61"},{"label":"Colombia","value":"CO","code":"+57"},{"label":"Comoros","value":"KM","code":"+269"},{"label":"Congo - Brazzaville","value":"CG","code":"+242"},{"label":"Congo - Kinshasa","value":"CD","code":"+243"},{"label":"Cook Islands","value":"CK","code":"+682"},{"label":"Costa Rica","value":"CR","code":"+506"},{"label":"Croatia","value":"HR","code":"+385"},{"label":"Cuba","value":"CU","code":"+53"},{"label":"Curaçao","value":"CW","code":"+599"},{"label":"Cyprus","value":"CY","code":"+357"},{"label":"Czechia","value":"CZ","code":"+420"},{"label":"Côte d’Ivoire","value":"CI","code":"+225"},{"label":"Denmark","value":"DK","code":"+45"},{"label":"Djibouti","value":"DJ","code":"+253"},{"label":"Dominica","value":"DM","code":"+1"},{"label":"Dominican Republic","value":"DO","code":"+1"},{"label":"Ecuador","value":"EC","code":"+593"},{"label":"Egypt","value":"EG","code":"+20"},{"label":"El Salvador","value":"SV","code":"+503"},{"label":"Equatorial Guinea","value":"GQ","code":"+240"},{"label":"Eritrea","value":"ER","code":"+291"},{"label":"Estonia","value":"EE","code":"+372"},{"label":"Eswatini","value":"SZ","code":"+268"},{"label":"Ethiopia","value":"ET","code":"+251"},{"label":"Falkland Islands","value":"FK","code":"+500"},{"label":"Faroe Islands","value":"FO","code":"+298"},{"label":"Fiji","value":"FJ","code":"+679"},{"label":"Finland","value":"FI","code":"+358"},{"label":"France","value":"FR","code":"+33"},{"label":"French Guiana","value":"GF","code":"+594"},{"label":"French Polynesia","value":"PF","code":"+689"},{"label":"Gabon","value":"GA","code":"+241"},{"label":"Gambia","value":"GM","code":"+220"},{"label":"Georgia","value":"GE","code":"+995"},{"label":"Germany","value":"DE","code":"+49"},{"label":"Ghana","value":"GH","code":"+233"},{"label":"Gibraltar","value":"GI","code":"+350"},{"label":"Greece","value":"GR","code":"+30"},{"label":"Greenland","value":"GL","code":"+299"},{"label":"Grenada","value":"GD","code":"+1"},{"label":"Guadeloupe","value":"GP","code":"+590"},{"label":"Guam","value":"GU","code":"+1"},{"label":"Guatemala","value":"GT","code":"+502"},{"label":"Guernsey","value":"GG","code":"+44"},{"label":"Guinea","value":"GN","code":"+224"},{"label":"Guinea-Bissau","value":"GW","code":"+245"},{"label":"Guyana","value":"GY","code":"+592"},{"label":"Haiti","value":"HT","code":"+509"},{"label":"Honduras","value":"HN","code":"+504"},{"label":"Hong Kong SAR China","value":"HK","code":"+852"},{"label":"Hungary","value":"HU","code":"+36"},{"label":"Iceland","value":"IS","code":"+354"},{"label":"India","value":"IN","code":"+91"},{"label":"Indonesia","value":"ID","code":"+62"},{"label":"Iran","value":"IR","code":"+98"},{"label":"Iraq","value":"IQ","code":"+964"},{"label":"Ireland","value":"IE","code":"+353"},{"label":"Isle of Man","value":"IM","code":"+44"},{"label":"Israel","value":"IL","code":"+972"},{"label":"Italy","value":"IT","code":"+39"},{"label":"Jamaica","value":"JM","code":"+1"},{"label":"Japan","value":"JP","code":"+81"},{"label":"Jersey","value":"JE","code":"+44"},{"label":"Jordan","value":"JO","code":"+962"},{"label":"Kazakhstan","value":"KZ","code":"+7"},{"label":"Kenya","value":"KE","code":"+254"},{"label":"Kiribati","value":"KI","code":"+686"},{"label":"Kosovo","value":"XK","code":"+383"},{"label":"Kuwait","value":"KW","code":"+965"},{"label":"Kyrgyzstan","value":"KG","code":"+996"},{"label":"Laos","value":"LA","code":"+856"},{"label":"Latvia","value":"LV","code":"+371"},{"label":"Lebanon","value":"LB","code":"+961"},{"label":"Lesotho","value":"LS","code":"+266"},{"label":"Liberia","value":"LR","code":"+231"},{"label":"Libya","value":"LY","code":"+218"},{"label":"Liechtenstein","value":"LI","code":"+423"},{"label":"Lithuania","value":"LT","code":"+370"},{"label":"Luxembourg","value":"LU","code":"+352"},{"label":"Macao SAR China","value":"MO","code":"+853"},{"label":"Madagascar","value":"MG","code":"+261"},{"label":"Malawi","value":"MW","code":"+265"},{"label":"Malaysia","value":"MY","code":"+60"},{"label":"Maldives","value":"MV","code":"+960"},{"label":"Mali","value":"ML","code":"+223"},{"label":"Malta","value":"MT","code":"+356"},{"label":"Marshall Islands","value":"MH","code":"+692"},{"label":"Martinique","value":"MQ","code":"+596"},{"label":"Mauritania","value":"MR","code":"+222"},{"label":"Mauritius","value":"MU","code":"+230"},{"label":"Mayotte","value":"YT","code":"+262"},{"label":"Mexico","value":"MX","code":"+52"},{"label":"Micronesia","value":"FM","code":"+691"},{"label":"Moldova","value":"MD","code":"+373"},{"label":"Monaco","value":"MC","code":"+377"},{"label":"Mongolia","value":"MN","code":"+976"},{"label":"Montenegro","value":"ME","code":"+382"},{"label":"Montserrat","value":"MS","code":"+1"},{"label":"Morocco","value":"MA","code":"+212"},{"label":"Mozambique","value":"MZ","code":"+258"},{"label":"Myanmar (Burma)","value":"MM","code":"+95"},{"label":"Namibia","value":"NA","code":"+264"},{"label":"Nauru","value":"NR","code":"+674"},{"label":"Nepal","value":"NP","code":"+977"},{"label":"Netherlands","value":"NL","code":"+31"},{"label":"New Caledonia","value":"NC","code":"+687"},{"label":"New Zealand","value":"NZ","code":"+64"},{"label":"Nicaragua","value":"NI","code":"+505"},{"label":"Niger","value":"NE","code":"+227"},{"label":"Nigeria","value":"NG","code":"+234"},{"label":"Niue","value":"NU","code":"+683"},{"label":"Norfolk Island","value":"NF","code":"+672"},{"label":"North Korea","value":"KP","code":"+850"},{"label":"North Macedonia","value":"MK","code":"+389"},{"label":"Northern Mariana Islands","value":"MP","code":"+1"},{"label":"Norway","value":"NO","code":"+47"},{"label":"Oman","value":"OM","code":"+968"},{"label":"Pakistan","value":"PK","code":"+92"},{"label":"Palau","value":"PW","code":"+680"},{"label":"Palestinian Territories","value":"PS","code":"+970"},{"label":"Panama","value":"PA","code":"+507"},{"label":"Papua New Guinea","value":"PG","code":"+675"},{"label":"Paraguay","value":"PY","code":"+595"},{"label":"Peru","value":"PE","code":"+51"},{"label":"Philippines","value":"PH","code":"+63"},{"label":"Poland","value":"PL","code":"+48"},{"label":"Portugal","value":"PT","code":"+351"},{"label":"Puerto Rico","value":"PR","code":"+1"},{"label":"Qatar","value":"QA","code":"+974"},{"label":"Romania","value":"RO","code":"+40"},{"label":"Russia","value":"RU","code":"+7"},{"label":"Rwanda","value":"RW","code":"+250"},{"label":"Réunion","value":"RE","code":"+262"},{"label":"Samoa","value":"WS","code":"+685"},{"label":"San Marino","value":"SM","code":"+378"},{"label":"Saudi Arabia","value":"SA","code":"+966"},{"label":"Senegal","value":"SN","code":"+221"},{"label":"Serbia","value":"RS","code":"+381"},{"label":"Seychelles","value":"SC","code":"+248"},{"label":"Sierra Leone","value":"SL","code":"+232"},{"label":"Singapore","value":"SG","code":"+65"},{"label":"Sint Maarten","value":"SX","code":"+1"},{"label":"Slovakia","value":"SK","code":"+421"},{"label":"Slovenia","value":"SI","code":"+386"},{"label":"Solomon Islands","value":"SB","code":"+677"},{"label":"Somalia","value":"SO","code":"+252"},{"label":"South Africa","value":"ZA","code":"+27"},{"label":"South Korea","value":"KR","code":"+82"},{"label":"South Sudan","value":"SS","code":"+211"},{"label":"Spain","value":"ES","code":"+34"},{"label":"Sri Lanka","value":"LK","code":"+94"},{"label":"St. Barthélemy","value":"BL","code":"+590"},{"label":"St. Helena","value":"SH","code":"+290"},{"label":"St. Kitts & Nevis","value":"KN","code":"+1"},{"label":"St. Lucia","value":"LC","code":"+1"},{"label":"St. Martin","value":"MF","code":"+590"},{"label":"St. Pierre & Miquelon","value":"PM","code":"+508"},{"label":"St. Vincent & Grenadines","value":"VC","code":"+1"},{"label":"Sudan","value":"SD","code":"+249"},{"label":"Suriname","value":"SR","code":"+597"},{"label":"Svalbard & Jan Mayen","value":"SJ","code":"+47"},{"label":"Sweden","value":"SE","code":"+46"},{"label":"Switzerland","value":"CH","code":"+41"},{"label":"Syria","value":"SY","code":"+963"},{"label":"São Tomé & Príncipe","value":"ST","code":"+239"},{"label":"Taiwan","value":"TW","code":"+886"},{"label":"Tajikistan","value":"TJ","code":"+992"},{"label":"Tanzania","value":"TZ","code":"+255"},{"label":"Thailand","value":"TH","code":"+66"},{"label":"Timor-Leste","value":"TL","code":"+670"},{"label":"Togo","value":"TG","code":"+228"},{"label":"Tokelau","value":"TK","code":"+690"},{"label":"Tonga","value":"TO","code":"+676"},{"label":"Trinidad & Tobago","value":"TT","code":"+1"},{"label":"Tristan da Cunha","value":"TA","code":"+290"},{"label":"Tunisia","value":"TN","code":"+216"},{"label":"Turkmenistan","value":"TM","code":"+993"},{"label":"Turks & Caicos Islands","value":"TC","code":"+1"},{"label":"Tuvalu","value":"TV","code":"+688"},{"label":"Türkiye","value":"TR","code":"+90"},{"label":"U.S. Virgin Islands","value":"VI","code":"+1"},{"label":"Uganda","value":"UG","code":"+256"},{"label":"Ukraine","value":"UA","code":"+380"},{"label":"United Arab Emirates","value":"AE","code":"+971"},{"label":"United Kingdom","value":"GB","code":"+44"},{"label":"United States","value":"US","code":"+1"},{"label":"Uruguay","value":"UY","code":"+598"},{"label":"Uzbekistan","value":"UZ","code":"+998"},{"label":"Vanuatu","value":"VU","code":"+678"},{"label":"Vatican City","value":"VA","code":"+39"},{"label":"Venezuela","value":"VE","code":"+58"},{"label":"Vietnam","value":"VN","code":"+84"},{"label":"Wallis & Futuna","value":"WF","code":"+681"},{"label":"Western Sahara","value":"EH","code":"+212"},{"label":"Yemen","value":"YE","code":"+967"},{"label":"Zambia","value":"ZM","code":"+260"},{"label":"Zimbabwe","value":"ZW","code":"+263"},{"label":"Åland Islands","value":"AX","code":"+358"}],"language":"en","module":"FormiePhoneCountry"}]'
                                  data-validation="required"
                                >
                                  <div class="fui-field-container">
                                    <label
                                      class="fui-label"
                                      for="fui-contact-gxuiyq-fields-aboutYou-phone"
                                      data-field-label
                                      >Phone&nbsp;<span class="fui-required" aria-hidden="true"
                                        >*</span
                                      ></label
                                    ><div class="fui-input-wrapper">
                                      <input
                                        type="tel"
                                        id="fui-contact-gxuiyq-fields-aboutYou-phone"
                                        class="fui-input"
                                        name="fields[aboutYou][phone][number]"
                                        placeholder="Phone"
                                        autocomplete="tel"
                                        required
                                        data-fui-id="contact-aboutYou-phone-number"
                                      /><input
                                        type="hidden"
                                        id="fui-contact-gxuiyq-fields-aboutYou-phone-country"
                                        name="fields[aboutYou][phone][country]"
                                        data-fui-id="contact-aboutYou-phone-country"
                                        data-country
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div><div class="fui-row fui-page-row" data-fui-field-count="1">
                    <div
                      class="fui-field fui-type-group fui-label-above-input fui-subfield-label-above-input fui-instructions-above-input fui-page-field"
                      data-field-handle="business"
                      data-field-type="group"
                    >
                      <fieldset class="fui-fieldset">
                        <legend class="fui-legend" data-field-label>Your business</legend><div
                          class="fui-input-wrapper"
                        >
                          <div class="fui-group">
                            <div class="fui-field-rows">
                              <div class="fui-row" data-fui-field-count="1">
                                <div
                                  class="fui-field fui-type-single-line-text fui-label-above-input fui-subfield-label-above-input fui-instructions-above-input fui-field-required fui-group-business-name"
                                  data-field-handle="business.businessName"
                                  data-field-type="single-line-text"
                                  data-validation="required"
                                  style="grid-column: span 2;"
                                >
                                  <div class="fui-field-container">
                                    <label
                                      class="fui-label"
                                      for="fui-contact-gxuiyq-fields-business-businessName"
                                      data-field-label
                                      >Business name&nbsp;<span
                                        class="fui-required"
                                        aria-hidden="true">*</span
                                      ></label
                                    ><div class="fui-input-wrapper">
                                      <input
                                        type="text"
                                        id="fui-contact-gxuiyq-fields-business-businessName"
                                        class="fui-input"
                                        name="fields[business][businessName]"
                                        placeholder="Business name"
                                        required
                                        data-fui-id="contact-business-businessName"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div><div class="fui-row" data-fui-field-count="1">
                                <div
                                  class="fui-field fui-type-single-line-text fui-label-above-input fui-subfield-label-above-input fui-instructions-above-input fui-field-required fui-group-type-of-business"
                                  data-field-handle="business.typeOfBusiness"
                                  data-field-type="single-line-text"
                                  data-validation="required"
                                  style="grid-column: span 2;"
                                >
                                  <div class="fui-field-container">
                                    <label
                                      class="fui-label"
                                      for="fui-contact-gxuiyq-fields-business-typeOfBusiness"
                                      data-field-label
                                      >Type of business&nbsp;<span
                                        class="fui-required"
                                        aria-hidden="true">*</span
                                      ></label
                                    ><div class="fui-input-wrapper">
                                      <input
                                        type="text"
                                        id="fui-contact-gxuiyq-fields-business-typeOfBusiness"
                                        class="fui-input"
                                        name="fields[business][typeOfBusiness]"
                                        placeholder="Type of business"
                                        required
                                        data-fui-id="contact-business-typeOfBusiness"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div><div class="fui-row" data-fui-field-count="1">
                                <div
                                  class="fui-field fui-type-multi-line-text fui-label-above-input fui-subfield-label-above-input fui-instructions-above-input fui-group-message"
                                  data-field-handle="business.message"
                                  data-field-type="multi-line-text"
                                  style="grid-column: span 2;"
                                >
                                  <div class="fui-field-container">
                                    <label
                                      class="fui-label"
                                      for="fui-contact-gxuiyq-fields-business-message"
                                      data-field-label>Message</label
                                    ><div class="fui-input-wrapper">
                                      <textarea
                                        id="fui-contact-gxuiyq-fields-business-message"
                                        class="fui-input"
                                        name="fields[business][message]"
                                        placeholder="Message (Optional)"
                                        data-fui-id="contact-business-message"></textarea>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div><div class="fui-row fui-page-row" data-fui-field-count="1">
                    <div
                      class="fui-field fui-type-agree fui-label-hidden fui-subfield-label-hidden fui-instructions-above-input fui-field-required fui-page-field"
                      data-field-handle="privacyConsent"
                      data-field-type="agree"
                      data-validation="required"
                    >
                      <fieldset class="fui-fieldset">
                        <legend class="fui-legend" data-field-label data-fui-sr-only
                          >Privacy Consent&nbsp;<span class="fui-required" aria-hidden="true"
                            >*</span
                          ></legend
                        ><div class="fui-input-wrapper">
                          <input
                            type="hidden"
                            name="fields[privacyConsent]"
                            value=""
                            data-fui-input-type="agree"
                          /><div class="fui-checkbox">
                            <input
                              type="checkbox"
                              id="fui-contact-gxuiyq-fields-privacyConsent"
                              class="fui-input fui-checkbox-input"
                              name="fields[privacyConsent]"
                              value="1"
                              required
                              data-fui-id="contact-privacyConsent"
                              data-fui-input-type="agree"
                            /><label
                              class="fui-checkbox-label"
                              for="fui-contact-gxuiyq-fields-privacyConsent"
                              >By checking this box I agree to the <a
                                target="_blank"
                                rel="noopener noreferrer nofollow"
                                href="https://www.worldquantfoundry.com/legal/privacy-policy"
                                >privacy policy</a
                              ></label
                            >
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div><div id="beesknees_5861_wrapper" style="display:none;">
                  <label for="beesknees_5861">Leave this field blank</label><input
                    type="text"
                    id="beesknees_5861"
                    name="beesknees"
                    style="display:none;"
                  />
                </div><button
                  class="group/button hover:animate-glitch-hover relative isolate mt-[32px] w-full md:w-auto"
                  data-theme="dark"
                  ><div class="flex h-[40px] items-center justify-center px-[20px]">
                    <div
                      class="group-data-[theme=light]/button:bg-neural-fog group-data-[theme=dark]/button:bg-rich-carbon size-[10px] -translate-x-[24px] rounded-[3px] opacity-0 blur-[20px] transition-all duration-400 ease-(--easing) group-hover/button:-translate-x-[5px] group-hover/button:opacity-100 group-hover/button:blur-[0px]"
                    >
                    </div><div
                      class="p3-mono group-data-[theme=light]/button:text-neural-fog group-data-[theme=dark]/button:text-rich-carbon relative isolate flex -translate-x-[5px] overflow-hidden transition-transform duration-400 ease-(--easing) group-hover/button:translate-x-[5px]"
                    >
                      <span
                        class="transition-transform duration-400 ease-(--easing) group-hover/button:-translate-y-full"
                      >
                        Send message
                      </span><span
                        class="absolute inset-0 translate-y-full transition-transform duration-400 ease-(--easing) group-hover/button:translate-y-0"
                        aria-hidden="true"
                      >
                        Send message
                      </span>
                    </div>
                  </div><svg
                    class="size-[9px] corner-accent transition-opacity ease-(--easing) duration-400 group-active/button:opacity-100 group-data-[theme=light]/button:text-neural-fog group-data-[theme=dark]/button:text-rich-carbon"
                    width="10"
                    height="10"
                    viewBox="0 0 10 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      d="M0.499951 0.199996L0.499952 9.2M0.199951 0.499995L9.19995 0.499995"
                      stroke="currentColor"></path></svg
                  ><svg
                    class="size-[9px] corner-accent transition-opacity ease-(--easing) duration-400 group-active/button:opacity-100 group-data-[theme=light]/button:text-neural-fog group-data-[theme=dark]/button:text-rich-carbon"
                    width="10"
                    height="10"
                    viewBox="0 0 10 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      d="M0.499951 0.199996L0.499952 9.2M0.199951 0.499995L9.19995 0.499995"
                      stroke="currentColor"></path></svg
                  ><svg
                    class="size-[9px] corner-accent transition-opacity ease-(--easing) duration-400 group-active/button:opacity-100 group-data-[theme=light]/button:text-neural-fog group-data-[theme=dark]/button:text-rich-carbon"
                    width="10"
                    height="10"
                    viewBox="0 0 10 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      d="M0.499951 0.199996L0.499952 9.2M0.199951 0.499995L9.19995 0.499995"
                      stroke="currentColor"></path></svg
                  ><svg
                    class="size-[9px] corner-accent transition-opacity ease-(--easing) duration-400 group-active/button:opacity-100 group-data-[theme=light]/button:text-neural-fog group-data-[theme=dark]/button:text-rich-carbon"
                    width="10"
                    height="10"
                    viewBox="0 0 10 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      d="M0.499951 0.199996L0.499952 9.2M0.199951 0.499995L9.19995 0.499995"
                      stroke="currentColor"></path></svg
                  ></button
                >
              </div><script is:inline>
                window.dynamicForms = window.dynamicForms || [];
                window.dynamicForms.push({
                  formHandle: "contact",
                  parent: document.currentScript.parentElement,
                  fields: [],
                });
              </script>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-rich-carbon loader fixed inset-0 isolate z-50 flex items-center justify-center">
  <div class="loader--logo relative isolate w-[120px] md:w-[248px]">
    <svg
      class="w-full h-auto text-core-black"
      width="65"
      height="65"
      viewBox="0 0 65 65"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M39.13 43.55C39.13 41.0371 41.1671 39 43.68 39H47.45C49.9629 39 52 36.9629 52 34.45L52 4.55C52 2.03711 54.0371 4.3263e-06 56.55 4.54598e-06L60.45 4.88693e-06C62.9629 5.10662e-06 65 2.03711 65 4.55001V34.45C65 36.9629 62.9629 39 60.45 39H56.68C54.1671 39 52.13 41.0371 52.13 43.55L52.13 60.45C52.13 62.9629 50.0929 65 47.58 65L43.68 65C41.1671 65 39.13 62.9629 39.13 60.45L39.13 43.55Z"
        fill="currentColor"></path>
      <path
        d="M13.13 43.55C13.13 41.0371 15.1671 39 17.68 39H21.45C23.9629 39 26 36.9629 26 34.45L26 4.55C26 2.03711 28.0371 2.05331e-06 30.55 2.27299e-06L34.45 2.61394e-06C36.9629 2.83363e-06 39 2.03711 39 4.55L39 34.45C39 36.9629 36.9629 39 34.45 39H30.68C28.1671 39 26.13 41.0371 26.13 43.55L26.13 60.45C26.13 62.9629 24.0929 65 21.58 65H17.68C15.1671 65 13.13 62.9629 13.13 60.45L13.13 43.55Z"
        fill="currentColor"></path>
      <path
        d="M1.47744e-06 4.55C1.69713e-06 2.0371 2.03711 -2.19684e-07 4.55 0L8.45 3.40949e-07C10.9629 5.60633e-07 13 2.0371 13 4.55L13 21.45C13 23.9629 10.9629 26 8.45 26H4.55C2.0371 26 -2.19684e-07 23.9629 0 21.45L1.47744e-06 4.55Z"
        fill="currentColor"></path>
    </svg>
    <svg
      class="absolute inset-0 w-full h-auto loader--clip-svg"
      width="65"
      height="65"
      viewBox="0 0 65 65"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M39.13 43.55C39.13 41.0371 41.1671 39 43.68 39H47.45C49.9629 39 52 36.9629 52 34.45L52 4.55C52 2.03711 54.0371 4.3263e-06 56.55 4.54598e-06L60.45 4.88693e-06C62.9629 5.10662e-06 65 2.03711 65 4.55001V34.45C65 36.9629 62.9629 39 60.45 39H56.68C54.1671 39 52.13 41.0371 52.13 43.55L52.13 60.45C52.13 62.9629 50.0929 65 47.58 65L43.68 65C41.1671 65 39.13 62.9629 39.13 60.45L39.13 43.55Z"
        fill="currentColor"></path>
      <path
        d="M13.13 43.55C13.13 41.0371 15.1671 39 17.68 39H21.45C23.9629 39 26 36.9629 26 34.45L26 4.55C26 2.03711 28.0371 2.05331e-06 30.55 2.27299e-06L34.45 2.61394e-06C36.9629 2.83363e-06 39 2.03711 39 4.55L39 34.45C39 36.9629 36.9629 39 34.45 39H30.68C28.1671 39 26.13 41.0371 26.13 43.55L26.13 60.45C26.13 62.9629 24.0929 65 21.58 65H17.68C15.1671 65 13.13 62.9629 13.13 60.45L13.13 43.55Z"
        fill="currentColor"></path>
      <path
        d="M1.47744e-06 4.55C1.69713e-06 2.0371 2.03711 -2.19684e-07 4.55 0L8.45 3.40949e-07C10.9629 5.60633e-07 13 2.0371 13 4.55L13 21.45C13 23.9629 10.9629 26 8.45 26H4.55C2.0371 26 -2.19684e-07 23.9629 0 21.45L1.47744e-06 4.55Z"
        fill="currentColor"></path>
    </svg>
  </div>
  <span
    class="text-off-white/60 p3-mono absolute bottom-[30px] left-1/2 -translate-x-1/2"
    x-data="{
			progress: 0,
			duration: 1400,
			startTime: null,
			easing: function(timeProgress) {
				const p1x = 0.62, p1y = 0.16;
				const p2x = 0.13, p2y = 1.01;

				// Calculate coefficients for the bezier curve
				const cx = 3 * p1x;
				const bx = 3 * (p2x - p1x) - cx;
				const ax = 1 - cx - bx;

				const cy = 3 * p1y;
				const by = 3 * (p2y - p1y) - cy;
				const ay = 1 - cy - by;

				let x = timeProgress;
				for (let i = 0; i < 4; i++) {
					const currentX = ((ax * x + bx) * x + cx) * x;
					const currentSlope = (3 * ax * x + 2 * bx) * x + cx;
					if (currentSlope === 0) break;
					x -= (currentX - timeProgress) / currentSlope;
				}

				return ((ay * x + by) * x + cy) * x;
			}
		}"
    x-init="
			document.body.style.overflow = 'hidden';

			startTime = Date.now();
			const animate = () => {
				const elapsed = Date.now() - startTime;
				const timeProgress = Math.min(elapsed / duration, 1);
				progress = Math.round(easing(timeProgress) * 100);

				if (timeProgress < 1) {
					requestAnimationFrame(animate);
				} else {
					document.body.style.overflow = '';
				}
			};
			requestAnimationFrame(animate);
		"
    x-text="progress + '%'"
  >
  </span>
</div>
