---
---

<section
  class="overflow-hidden pt-[170px] pb-[120px] md:pb-[200px]"
  x-data="{
		init() {
			gsap.from(this.$refs.content, {
				opacity: 0,
				y: 80,
				duration: 1.2,
				ease: 'power4.inOut',
				scrollTrigger: {
					trigger: this.$el,
					start: 'top 60%',
				}
			})
		}
	}"
>
  <div class="@container container" x-ref="content" id="portfolio">
    <div
      class="mx-auto mb-[80px] flex max-w-[668px] flex-col items-center gap-[15px] text-center md:mb-[100px]"
    >
      <h2 class="p1-mono">Our projects</h2>
      <p
        class="h5 mb-[24px] text-balance uppercase md:mb-[32px]"
        x-data="splitTextReveal()"
      >
        The kind of projects engineers want to build.
      </p>
    </div>

    <div
      x-data="slider({
				centeredSlides: true,
				slidesPerView: 'auto',
				speed: 500,
				slideToClickedSlide: true,
				mousewheel: {
					forceToAxis: true,
					releaseOnEdges: true
				},
				breakpoints: {
					0: {
						longSwipesRatio: 0.15,
						longSwipesMs: 250,
						threshold: 3,
						resistanceRatio: 0.5,
						touchRatio: 1.2
					},
					768: {
						longSwipesRatio: 0.15,
						longSwipesMs: 250,
						threshold: 3,
						resistanceRatio: 0.2,
						touchRatio: 1.1
					}
				}
			})"
    >
      <div class="swiper overflow-visible!" x-ref="slider">
        <div
          class="swiper-wrapper min-h-[89.60cqw] items-center duration-400! md:min-h-[53.94cqw] lg:min-h-[32.36cqw]"
        >
          <div
            class="swiper-slide group w-fit! **:transition-all **:duration-300! **:ease-(--easing)!"
          >
            <div
              class="before:bg-off-white relative isolate flex h-[34.80cqw] w-[50.40cqw] flex-col items-center justify-center gap-[20px] overflow-hidden rounded-none p-0 text-center opacity-40 transition-[padding,width,height,border-radius,opacity,color] duration-300 ease-(--easing) group-[.swiper-slide-active]:h-[89.60cqw] group-[.swiper-slide-active]:w-[67.20cqw] group-[.swiper-slide-active]:rounded-[20px] group-[.swiper-slide-active]:p-[24px] group-[.swiper-slide-active]:opacity-100 before:absolute before:inset-0 before:-z-1 before:size-full before:transition-[clip-path,background-color] before:delay-100 before:duration-300 before:ease-(--easing) before:[clip-path:inset(0_0_100%_0)] group-[.swiper-slide-active]:before:[clip-path:inset(0_0_0_0)] group-[.swiper-slide-active]:hover:text-(--hover-logo-color) group-[.swiper-slide-active]:hover:**:text-(--hover-logo-color) max-md:group-[.swiper-slide-active]:text-(--hover-logo-color) max-md:group-[.swiper-slide-active]:**:text-(--hover-logo-color) md:h-[25.47cqw] md:w-[34.72cqw] md:group-[.swiper-slide-active]:h-[53.94cqw] md:group-[.swiper-slide-active]:w-[40.52cqw] lg:h-[24cqw] lg:w-[20.83cqw] lg:group-[.swiper-slide-active]:h-[32.36cqw] lg:group-[.swiper-slide-active]:w-[34.31cqw] xl:gap-[40px] xl:group-[.swiper-slide-active]:w-[24.31cqw] group-[.swiper-slide-active]:hover:before:bg-(--hover-background-color) max-md:group-[.swiper-slide-active]:before:bg-(--hover-background-color)"
              style="--hover-background-color: #ebfd8b; --hover-logo-color: #111111;"
            >
              <div
                class="max-w-[270px] px-[40px] md:px-0 lg:pt-[20px] lg:opacity-0 lg:group-[.swiper-slide-active]:opacity-100 xl:pt-[36px] xl:opacity-100"
              >
                <button
                  @click="slideTo(0)"
                  class="md:h7 h6 pointer-events-none cursor-none uppercase"
                  aria-label="View MemWal"
                >
                  MemWal
                </button>
              </div>

              <div class="flex h-[32px] w-[200px] items-center justify-center">
                <img
                  src="/assets/projects/memwal-logo-Df81yH7u.svg"
                  alt="MemWal"
                  class="size-full object-contain"
                />
              </div>

              <div
                class="grid h-full w-full grid-rows-[0fr] transition-[grid-template-rows] duration-300 ease-(--easing) group-[.swiper-slide-active]:grid-rows-[1fr] md:grid-rows-[auto_0fr] md:group-[.swiper-slide-active]:grid-rows-[auto_1fr]"
              >
                <div
                  class="flex flex-col items-center justify-center gap-[20px] overflow-hidden"
                >
                  <p
                    class="p2-mono mx-auto mb-auto w-[67.20cqw] max-w-full shrink-0 pt-[15px] text-balance opacity-0 group-[.swiper-slide-active]:opacity-60 md:w-[40.52cqw] lg:w-[24.31cqw] xl:max-w-[222px] xl:px-[20px]"
                  >
                    MemWal introduces a long-term, verifiable memory layer on Walrus, allowing agents to remember, share, and reuse information reliably.
                  </p>
                </div>
                <div
                  class="mt-auto opacity-0 transition group-[.swiper-slide-active]:opacity-100 group-hover:[&_.button--dot]:bg-[currentColor]!"
                >
                </div>
              </div>

              <div
                class="absolute inset-x-0 top-0 flex justify-between p-[24px] opacity-0 transition group-[.swiper-slide-active]:opacity-100"
              >
                <div class="size-[9px] border-t border-l border-current"></div>
                <div class="size-[9px] border-t border-r border-current"></div>
              </div>
            </div>
          </div>
          <div
            class="swiper-slide group w-fit! **:transition-all **:duration-300! **:ease-(--easing)!"
          >
            <div
              class="before:bg-off-white relative isolate flex h-[34.80cqw] w-[50.40cqw] flex-col items-center justify-center gap-[20px] overflow-hidden rounded-none p-0 text-center opacity-40 transition-[padding,width,height,border-radius,opacity,color] duration-300 ease-(--easing) group-[.swiper-slide-active]:h-[89.60cqw] group-[.swiper-slide-active]:w-[67.20cqw] group-[.swiper-slide-active]:rounded-[20px] group-[.swiper-slide-active]:p-[24px] group-[.swiper-slide-active]:opacity-100 before:absolute before:inset-0 before:-z-1 before:size-full before:transition-[clip-path,background-color] before:delay-100 before:duration-300 before:ease-(--easing) before:[clip-path:inset(0_0_100%_0)] group-[.swiper-slide-active]:before:[clip-path:inset(0_0_0_0)] group-[.swiper-slide-active]:hover:text-(--hover-logo-color) group-[.swiper-slide-active]:hover:**:text-(--hover-logo-color) max-md:group-[.swiper-slide-active]:text-(--hover-logo-color) max-md:group-[.swiper-slide-active]:**:text-(--hover-logo-color) md:h-[25.47cqw] md:w-[34.72cqw] md:group-[.swiper-slide-active]:h-[53.94cqw] md:group-[.swiper-slide-active]:w-[40.52cqw] lg:h-[24cqw] lg:w-[20.83cqw] lg:group-[.swiper-slide-active]:h-[32.36cqw] lg:group-[.swiper-slide-active]:w-[34.31cqw] xl:gap-[40px] xl:group-[.swiper-slide-active]:w-[24.31cqw] group-[.swiper-slide-active]:hover:before:bg-(--hover-background-color) max-md:group-[.swiper-slide-active]:before:bg-(--hover-background-color)"
              style="--hover-background-color: #7c3aed; --hover-logo-color: #ffffff;"
            >
              <div
                class="max-w-[270px] px-[40px] md:px-0 lg:pt-[20px] lg:opacity-0 lg:group-[.swiper-slide-active]:opacity-100 xl:pt-[36px] xl:opacity-100"
              >
                <button
                  @click="slideTo(1)"
                  class="md:h7 h6 pointer-events-none cursor-none uppercase"
                  aria-label="View Smash Blob"
                >
                  Smash Blob
                </button>
              </div>

              <div class="flex h-[20px] w-[200px] items-center justify-center">
                <img
                  src="/assets/projects/smash-blob.svg"
                  alt="Smash Blob"
                  class="size-full object-contain"
                />
              </div>

              <div
                class="grid h-full w-full grid-rows-[0fr] transition-[grid-template-rows] duration-300 ease-(--easing) group-[.swiper-slide-active]:grid-rows-[1fr] md:grid-rows-[auto_0fr] md:group-[.swiper-slide-active]:grid-rows-[auto_1fr]"
              >
                <div
                  class="flex flex-col items-center justify-center gap-[20px] overflow-hidden"
                >
                  <p
                    class="p2-mono mx-auto mb-auto w-[67.20cqw] max-w-full shrink-0 pt-[15px] text-balance opacity-0 group-[.swiper-slide-active]:opacity-60 md:w-[40.52cqw] lg:w-[24.31cqw] xl:max-w-[222px] xl:px-[20px]"
                  >
                    Smashblob is a daily visual prompt competition where players create posts, earn upvotes, and win rewards. The most voted entry shares the prompt prize.
                  </p>
                </div>
                <div
                  class="mt-auto opacity-0 transition group-[.swiper-slide-active]:opacity-100 group-hover:[&_.button--dot]:bg-[currentColor]!"
                >
                </div>
              </div>

              <div
                class="absolute inset-x-0 top-0 flex justify-between p-[24px] opacity-0 transition group-[.swiper-slide-active]:opacity-100"
              >
                <div class="size-[9px] border-t border-l border-current"></div>
                <div class="size-[9px] border-t border-r border-current"></div>
              </div>
            </div>
          </div>
          <div
            class="swiper-slide group w-fit! **:transition-all **:duration-300! **:ease-(--easing)!"
          >
            <div
              class="before:bg-off-white relative isolate flex h-[34.80cqw] w-[50.40cqw] flex-col items-center justify-center gap-[20px] overflow-hidden rounded-none p-0 text-center opacity-40 transition-[padding,width,height,border-radius,opacity,color] duration-300 ease-(--easing) group-[.swiper-slide-active]:h-[89.60cqw] group-[.swiper-slide-active]:w-[67.20cqw] group-[.swiper-slide-active]:rounded-[20px] group-[.swiper-slide-active]:p-[24px] group-[.swiper-slide-active]:opacity-100 before:absolute before:inset-0 before:-z-1 before:size-full before:transition-[clip-path,background-color] before:delay-100 before:duration-300 before:ease-(--easing) before:[clip-path:inset(0_0_100%_0)] group-[.swiper-slide-active]:before:[clip-path:inset(0_0_0_0)] group-[.swiper-slide-active]:hover:text-(--hover-logo-color) group-[.swiper-slide-active]:hover:**:text-(--hover-logo-color) max-md:group-[.swiper-slide-active]:text-(--hover-logo-color) max-md:group-[.swiper-slide-active]:**:text-(--hover-logo-color) md:h-[25.47cqw] md:w-[34.72cqw] md:group-[.swiper-slide-active]:h-[53.94cqw] md:group-[.swiper-slide-active]:w-[40.52cqw] lg:h-[24cqw] lg:w-[20.83cqw] lg:group-[.swiper-slide-active]:h-[32.36cqw] lg:group-[.swiper-slide-active]:w-[34.31cqw] xl:gap-[40px] xl:group-[.swiper-slide-active]:w-[24.31cqw] group-[.swiper-slide-active]:hover:before:bg-(--hover-background-color) max-md:group-[.swiper-slide-active]:before:bg-(--hover-background-color)"
              style="--hover-background-color: #aceee5; --hover-logo-color: #111111;"
            >
              <div
                class="max-w-[270px] px-[40px] md:px-0 lg:pt-[20px] lg:opacity-0 lg:group-[.swiper-slide-active]:opacity-100 xl:pt-[36px] xl:opacity-100"
              >
                <button
                  @click="slideTo(2)"
                  class="md:h7 h6 pointer-events-none cursor-none uppercase"
                  aria-label="View ReMeme"
                >
                  ReMeme
                </button>
              </div>

              <div
                class="h-[52px] w-[180px]"
                style="overflow: hidden; border-radius: 12px;"
              >
                <img
                  src="/assets/projects/rememe.png"
                  alt="ReMeme"
                  style="display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 12px;"
                />
              </div>

              <div
                class="grid h-full w-full grid-rows-[0fr] transition-[grid-template-rows] duration-300 ease-(--easing) group-[.swiper-slide-active]:grid-rows-[1fr] md:grid-rows-[auto_0fr] md:group-[.swiper-slide-active]:grid-rows-[auto_1fr]"
              >
                <div
                  class="flex flex-col items-center justify-center gap-[20px] overflow-hidden"
                >
                  <p
                    class="p2-mono mx-auto mb-auto w-[67.20cqw] max-w-full shrink-0 pt-[15px] text-balance opacity-0 group-[.swiper-slide-active]:opacity-60 md:w-[40.52cqw] lg:w-[24.31cqw] xl:max-w-[222px] xl:px-[20px]"
                  >
                    Create, share, and earn from blockchain-powered memes on Sui. Upload your memes as NFTs, get rewarded through tips and likes, and remix anyone&#039;s.
                  </p>
                </div>
                <div
                  class="mt-auto opacity-0 transition group-[.swiper-slide-active]:opacity-100 group-hover:[&_.button--dot]:bg-[currentColor]!"
                >
                </div>
              </div>

              <div
                class="absolute inset-x-0 top-0 flex justify-between p-[24px] opacity-0 transition group-[.swiper-slide-active]:opacity-100"
              >
                <div class="size-[9px] border-t border-l border-current"></div>
                <div class="size-[9px] border-t border-r border-current"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mt-[80px] flex items-center justify-between md:mt-[100px] md:justify-center md:gap-[32px]"
      >
        <button
          class="button -arrow disabled:opacity-50"
          @click="prev()"
          aria-label="Previous"
          :disabled="isBeginning"
        >
          <svg
            class="size-[18px]"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.0833 13H8.01667L4 9.02474L8.01667 5H10.0833L8.38333 6.69897L6.56667 8.38144L9.08333 8.29897H14V9.75052H9.08333L6.58333 9.66804L8.43333 11.367L10.0833 13Z"
              fill="currentColor"></path>
          </svg>
        </button>
        <p class="p2-mono md:hidden">
          <span x-text="pad(activeIndex + 1)"></span> / 03
        </p>
        <button
          class="button -arrow disabled:opacity-50"
          @click="next()"
          aria-label="Next"
          :disabled="isEnd"
        >
          <svg
            class="size-[18px]"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.91667 13H9.98333L14 9.02474L9.98333 5H7.91667L9.61667 6.69897L11.4333 8.38144L8.91667 8.29897H4V9.75052H8.91667L11.4167 9.66804L9.56667 11.367L7.91667 13Z"
              fill="currentColor"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
